@page "/"

@using Blazor.Toast.Abstractions

@inject IToastManager Toast;

<button @onclick="ShowToast">Click me!</button>

@code {

    async Task ShowToast()
    {
        await Toast.ShowAsync("Hello World!");
    }
}